<section class="fivedays-container">
    <div class="fivedays-country-container">
        <span class="fivedays-country">Kyiv, UA</span>
        <ul class="choose-day-list">
            <li class="choose-day-item">
                <button class="choose-day-btn">
                    TODAY
                </button>
            </li>
            <li class="choose-day-item">
                <button class="choose-day-btn">
                    5 DAYS
                </button>
            </li>
        </ul>
    </div>
    <div class="fivedays-result-container">
        <ul class="fivedays-result-list">
            <li class="fivedays-result-item">
                <span class="fivedays-week">Sunday</span>
                <span class="fivedays-date">09 Feb</span>
                <span class="fivedays-weather-span">
                    <svg class="fivedays-weather-icon">
                        <use href="/src/images/icons.svg#cloudy"></use>
                    </svg>
                </span>
                <ul class="fivedays-range-list">
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">min</span>
                        <span class="fivedays-temp">-2°</span>
                    </li>
                    <li class="weather-today-line">
                    <svg>
                        <use href="/src/images/icons.svg#line3"></use>
                    </svg>
                </li>
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">max</span>
                        <span class="fivedays-temp">1°</span>
                    </li>
                </ul>
                <span>
                    <a class="fivedays-more-info">more info</a>
                </span>
            </li>
            <li class="fivedays-result-item">
                <span class="fivedays-week">Sunday</span>
                <span class="fivedays-date">09 Feb</span>
                <span class="fivedays-weather-span">
                    <svg class="fivedays-weather-icon">
                        <use href="/src/images/icons.svg#cloudy"></use>
                    </svg>
                </span>
                <ul class="fivedays-range-list">
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">min</span>
                        <span class="fivedays-temp">-2°</span>
                    </li>
                    <li class="weather-today-line">
                    <svg>
                        <use href="/src/images/icons.svg#line3"></use>
                    </svg>
                </li>
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">max</span>
                        <span class="fivedays-temp">1°</span>
                    </li>
                </ul>
                <span>
                    <a class="fivedays-more-info">more info</a>
                </span>
            </li>
            <li class="fivedays-result-item">
                <span class="fivedays-week">Sunday</span>
                <span class="fivedays-date">09 Feb</span>
                <span class="fivedays-weather-span">
                    <svg class="fivedays-weather-icon">
                        <use href="/src/images/icons.svg#cloudy"></use>
                    </svg>
                </span>
                <ul class="fivedays-range-list">
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">min</span>
                        <span class="fivedays-temp">-2°</span>
                    </li>
                    <li class="weather-today-line">
                    <svg>
                        <use href="/src/images/icons.svg#line3"></use>
                    </svg>
                </li>
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">max</span>
                        <span class="fivedays-temp">1°</span>
                    </li>
                </ul>
                <span>
                    <a class="fivedays-more-info">more info</a>
                </span>
            </li>
            <li class="fivedays-result-item">
                <span class="fivedays-week">Sunday</span>
                <span class="fivedays-date">09 Feb</span>
                <span class="fivedays-weather-span">
                    <svg class="fivedays-weather-icon">
                        <use href="/src/images/icons.svg#cloudy"></use>
                    </svg>
                </span>
                <ul class="fivedays-range-list">
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">min</span>
                        <span class="fivedays-temp">-2°</span>
                    </li>
                    <li class="weather-today-line">
                    <svg>
                        <use href="/src/images/icons.svg#line3"></use>
                    </svg>
                </li>
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">max</span>
                        <span class="fivedays-temp">1°</span>
                    </li>
                </ul>
                <span>
                    <a class="fivedays-more-info">more info</a>
                </span>
            </li>
            <li class="fivedays-result-item">
                <span class="fivedays-week">Sunday</span>
                <span class="fivedays-date">09 Feb</span>
                <span class="fivedays-weather-span">
                    <svg class="fivedays-weather-icon">
                        <use href="/src/images/icons.svg#cloudy"></use>
                    </svg>
                </span>
                <ul class="fivedays-range-list">
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">min</span>
                        <span class="fivedays-temp">-2°</span>
                    </li>
                    <li class="weather-today-line">
                    <svg>
                        <use href="/src/images/icons.svg#line3"></use>
                    </svg>
                </li>
                    <li class="fivedays-range-item">
                        <span class="fivedays-range">max</span>
                        <span class="fivedays-temp">1°</span>
                    </li>
                </ul>
                <span>
                    <a class="fivedays-more-info">more info</a>
                </span>
            </li>
        </ul>
        <div class="more-info-container">
            <ul class="more-info-list">
                <li class="more-info-item">
                    <span class="more-info-time">00:00</span>
                    <span class="more-info-weather-span">
                        <svg class="more-info-weather-icon">
                            <use href="/src/images/icons.svg#cloudy"></use>
                        </svg>
                    </span>
                    <span class="more-info-temp">-2°</span>
                    <ul class="more-info-result-list">
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#barometer"></use>
                            </svg>
                            <span class="more-info-result">772 mm</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#humidity"></use>
                            </svg>
                            <span class="more-info-result">54%</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#wind"></use>
                            </svg>
                            <span class="more-info-result">3.7 m/s</span>
                        </li>
                    </ul>
                </li>
                <li class="more-info-item">
                    <span class="more-info-time">00:00</span>
                    <span class="more-info-weather-span">
                        <svg class="more-info-weather-icon">
                            <use href="/src/images/icons.svg#cloudy"></use>
                        </svg>
                    </span>
                    <span class="more-info-temp">-2°</span>
                    <ul class="more-info-result-list">
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#barometer"></use>
                            </svg>
                            <span class="more-info-result">772 mm</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#humidity"></use>
                            </svg>
                            <span class="more-info-result">54%</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#wind"></use>
                            </svg>
                            <span class="more-info-result">3.7 m/s</span>
                        </li>
                    </ul>
                </li>
                <li class="more-info-item">
                    <span class="more-info-time">00:00</span>
                    <span class="more-info-weather-span">
                        <svg class="more-info-weather-icon">
                            <use href="/src/images/icons.svg#cloudy"></use>
                        </svg>
                    </span>
                    <span class="more-info-temp">-2°</span>
                    <ul class="more-info-result-list">
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#barometer"></use>
                            </svg>
                            <span class="more-info-result">772 mm</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#humidity"></use>
                            </svg>
                            <span class="more-info-result">54%</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#wind"></use>
                            </svg>
                            <span class="more-info-result">3.7 m/s</span>
                        </li>
                    </ul>
                </li>
                <li class="more-info-item">
                    <span class="more-info-time">00:00</span>
                    <span class="more-info-weather-span">
                        <svg class="more-info-weather-icon">
                            <use href="/src/images/icons.svg#cloudy"></use>
                        </svg>
                    </span>
                    <span class="more-info-temp">-2°</span>
                    <ul class="more-info-result-list">
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#barometer"></use>
                            </svg>
                            <span class="more-info-result">772 mm</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#humidity"></use>
                            </svg>
                            <span class="more-info-result">54%</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#wind"></use>
                            </svg>
                            <span class="more-info-result">3.7 m/s</span>
                        </li>
                    </ul>
                </li>
                <li class="more-info-item">
                    <span class="more-info-time">00:00</span>
                    <span class="more-info-weather-span">
                        <svg class="more-info-weather-icon">
                            <use href="/src/images/icons.svg#cloudy"></use>
                        </svg>
                    </span>
                    <span class="more-info-temp">-2°</span>
                    <ul class="more-info-result-list">
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#barometer"></use>
                            </svg>
                            <span class="more-info-result">772 mm</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#humidity"></use>
                            </svg>
                            <span class="more-info-result">54%</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#wind"></use>
                            </svg>
                            <span class="more-info-result">3.7 m/s</span>
                        </li>
                    </ul>
                </li>
                <li class="more-info-item">
                    <span class="more-info-time">00:00</span>
                    <span class="more-info-weather-span">
                        <svg class="more-info-weather-icon">
                            <use href="/src/images/icons.svg#cloudy"></use>
                        </svg>
                    </span>
                    <span class="more-info-temp">-2°</span>
                    <ul class="more-info-result-list">
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#barometer"></use>
                            </svg>
                            <span class="more-info-result">772 mm</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#humidity"></use>
                            </svg>
                            <span class="more-info-result">54%</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#wind"></use>
                            </svg>
                            <span class="more-info-result">3.7 m/s</span>
                        </li>
                    </ul>
                </li>
                <li class="more-info-item">
                    <span class="more-info-time">00:00</span>
                    <span class="more-info-weather-span">
                        <svg class="more-info-weather-icon">
                            <use href="/src/images/icons.svg#cloudy"></use>
                        </svg>
                    </span>
                    <span class="more-info-temp">-2°</span>
                    <ul class="more-info-result-list">
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#barometer"></use>
                            </svg>
                            <span class="more-info-result">772 mm</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#humidity"></use>
                            </svg>
                            <span class="more-info-result">54%</span>
                        </li>
                        <li class="more-info-result-item">
                            <svg class="more-info-result-icon">
                                <use href="/src/images/icons.svg#wind"></use>
                            </svg>
                            <span class="more-info-result">3.7 m/s</span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="show-chart-container">
        <span class="show-chart-span">Show Chart</span>
        <button class="show-chart-arrow-btn">
            <svg class="show-chart-arrow-icon">
                <use href="/src/images/icons.svg#arrow-left"></use>
            </svg>
        </button>
    </div>
</section>