<section class="choose-weather-container">  
    <div class="choose-weather-wrapper">
        <div class="weather-today-container">
            <span class="weather-today-span">
                <svg class="weather-today-icon">
                    <use href="/src/images/icons.svg#cloudy"></use>
                </svg>
            </span>
            <span class="weather-today-country">Kyiv, UA</span>
            <span class="weather-today">-3</span>
            <ul class="weather-today-list">
                <li class="weather-today-item">
                    <span class="weather-today-range">min</span>
                    <span class="weather-today-temp">-2°</span>
                </li>
                <li class="weather-today-line">
                    <svg>
                        <use href="/src/images/icons.svg#line1"></use>
                    </svg>
                </li>
                <li class="weather-today-item">
                    <span class="weather-today-range">max</span>
                    <span class="weather-today-temp">-1°</span>
                </li>
            </ul>
        </div>
        <ul class="choose-day-list">
            <li class="choose-day-item">
                <button class="choose-day-btn">
                    TODAY
                </button>
            </li>
            <li class="choose-day-item">
                <button class="choose-day-btn">
                    5 DAYS
                </button>
            </li>
        </ul>
    </div>
</section>