<section class="choose-weather-container">  
    <div class="choose-weather-wrapper">
        <div class="weather-today-container">
            <img src="https://openweathermap.org/img/wn/10d@2x.png" class="weather-today-icon">
            <div class="weather-today-location">City, Country</div>
            <span class="weather-today">0</span>
            <ul class="weather-today-list">
                <li class="weather-today-item">
                    <span class="weather-today-range">min</span>
                    <span class="weather-today-temp temp-min">0°</span>
                </li>
                <li class="weather-today-line">
                    <svg>
                        <use href="/src/images/icons.svg#line1"></use>
                    </svg>
                </li>
                <li class="weather-today-item">
                    <span class="weather-today-range">max</span>
                    <span class="weather-today-temp temp-max">0°</span>
                </li>
            </ul>
        </div>
        <ul class="choose-day-list">
            <li class="choose-day-item">
                <button class="choose-day-btn active">
                    TODAY
                </button>
            </li>
            <li class="choose-day-item">
                <button class="choose-day-btn">
                    5 DAYS
                </button>
            </li>
        </ul>
    </div>
</section>