<header>
    <div class="search-container">
        <form class="search-form">
            <div class="search-wrapper">
                <button class="search-location-btn">
                    <svg class="search-location-icon">
                        <use href="/src/images/icons.svg#location"></use>
                    </svg>
                </button>
                <input class="search-input"
                name="search"
                placeholder="Enter the city"
                type="text">
                <button class="search-favorite-btn">
                    <svg class="search-favorite-icon">
                        <use href="/src/images/icons.svg#star1"></use>
                    </svg>
                </button>
            </div>
        </form>
        <div class="favorite-container">
            <ul class="favorite-country-list">
                <!-- <li class="favorite-country-item">
                    <span class="favorite-country">Kyiv</span>
                    <button class="favorite-close-btn">
                        <svg class="favorite-close-icon">
                            <use href="/src/images/icons.svg#close1"></use>
                        </svg>
                    </button>
                </li>
                <li class="favorite-country-item">
                    <span class="favorite-country">Paris</span>
                    <button class="favorite-close-btn">
                        <svg class="favorite-close-icon">
                            <use href="/src/images/icons.svg#close1"></use>
                        </svg>
                    </button>
                </li>
                <li class="favorite-country-item">
                    <span class="favorite-country">Vinnytsya</span>
                    <button class="favorite-close-btn">
                        <svg class="favorite-close-icon">
                            <use href="/src/images/icons.svg#close1"></use>
                        </svg>
                    </button>
                </li>
                <li class="favorite-country-item">
                    <span class="favorite-country">Warsaw</span>
                    <button class="favorite-close-btn">
                        <svg class="favorite-close-icon">
                            <use href="/src/images/icons.svg#close1"></use>
                        </svg>
                    </button>
                </li> -->
            </ul>
            <!-- <button class="favorite-arrow-btn">
                <svg class="favorite-arrow-icon">
                    <use href="/src/images/icons.svg#arrow-left"></use>
                </svg>
            </button> -->
        </div>
    </div>
</header>